.navigation {
    font-size: xx-large;
    color:rgb(140, 182, 84);
    font-family: "B Nazanin";
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
p {
    font-size: large;
    color: rgb(235, 235, 247);
    font-family: "B Nazanin";
}
li {
    font-size: x-large;
    color:rgb(235, 235, 247)
}
form{
    color:grey
}